img {
    max-width: 20%;
}

/* h1 {
    color: red;
} */

.crazy {
    color: red;
    background-color: gray;
    border: 25px solid green;
    padding: 10px;
}

section article {
    padding: 20px;
    border: 1px solid #bbb;
}
